/* HeroDetailComponent's private CSS styles */
h2 {
  margin-left: 15px;
}

label {
  color: #435960;
  font-weight: bold;
  margin-left:15px;
}
input {
  font-size: 13px;
  padding: .5rem;
}
button {
  margin-top: 20px;
  margin-left: 15px;
  background-color: #eee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 12px;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
